<% provide(:title, 'About Us') %>
<h1>About Us</h1>
<p>
  <%= link_to "tweetbook", root_path %> is a minimalist Twitter-inspired app that allows users to microblog.
</p>
<p>
  It was built by the developer to learn Ruby on Rails.
</p>
<p>
  Find us on <%= link_to "Github", "https://github.com/deepankvora/tweetbook" %>.
</p>
