<footer class="footer">
  <small>
    <a href="http://railstutorial.org/">tweetbook</a>
    by Deepank Vora
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="http://github.com/deepankvora/tweetbook">Github</a></li>
    </ul>
  </nav>
</footer>
